/*****  Prevents Content in Row From Wrapping at Mobile Breakpoint  *****/
.cr_flex_wrap_none {
    flex-wrap: nowrap;
}

/*****  Setting an Element as a Block  *****/
.display_block {
    display: block;
}




/*****  Hides Content at Mobile Breakpoint  *****/
@media only screen and (max-width: 768px) {
    .mobile_display_none {
        display: none;
        height: 0px !important;
        margin: 0px;
        padding: 0px;
    }
}